body,
html {
    background-color: #272727;
    height: 100%;
    margin: 0;
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
    padding: 0 20px;
}

.full-height {
    min-height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1;
}

.flex-center {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 64px;
    margin: 0;
}

p {
    text-align: center;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.links {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .links {
        display: flex;
    }

    /* Left margin accounts for the size of the separator */
    .links li:not(:last-child)::after {
        margin-left: 10px;
        margin-right: 16px;
        content: " / ";
    }
}

.links a {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.title {
    margin:auto;
    font-size:90px;
    position:relative;
    top:10px;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.608);
    position:relative;
    top:-30px;
    
    
}
table{
    overflow-y:scroll; 
   height:580px; 
   display:block;  
   margin-top:50px;    
   border: 1px solid #272727;
   border-radius:12px;
  }
   
  td{
   width:300px;    
   }

html {
    overflow-y:hidden;
}

table::-webkit-scrollbar {
    display: none;
}



.styled-table thead tr {
    background-color: #272727;
    color: #ffffff;
    text-align: center;   
}
.styled-table tbody tr {
    background-color: #363636;
    color: #ffffff;
    text-align: center;   
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #272727;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #272727;
}

.styled-table {
    position: relative;
    top:-70px;
}

@media screen and (min-width: 600px) {
    .menu {
        display:flex; 
    }

    /* Left margin accounts for the size of the separator */
    .menu li:not(:last-child)::after {
        margin-left: 10px;
        margin-right: 20px;
        content: " | ";
    }
}

.menu a{
    text-decoration: none;
    color: #ffffff;
  }

.menu {
    list-style:none;
    margin-left:none;
    padding:0px;
}
  
  .underline{
    position: relative;
  }
  
  .underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #C0C0C0;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  .title {
    /* RESET */
    text-decoration: none;
    line-height: 1;
    
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    transition: color .2s ease-out;
 }
 
 .title::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #535353 0%, #c9c9cd 100%);
    transition: transform .2s ease-out;
 }
 
 .title:hover { 
    color: #FFFFFF; 
 }
 .title:hover::before {
    transform: translateY(0);
    transition: transform .35s ease-out;
 }



